section {
  display: flex;
  overflow-wrap: break-word;
}

#article1 {
  border: 1px solid blue;
  width: 50%;
  margin: 10px;
  min-height: 20px;
}

#article2 {
  border: 1px solid purple;
  width: 50%;
  min-height: 20px;
  margin: 10px;
}
